
Resolução_Kayke_Nícolas/knlib/util/__pycache__/__init__.cpython-312.pyc
Resolução_Kayke_Nícolas/tempCodeRunnerFile.py
Resolução_Kayke_Nícolas/knlib/util/__pycache__/__init__.cpython-312.pyc
Resolução_Kayke_Nícolas/knlib/util/__pycache__/__init__.cpython-312.pyc
